body {
    margin: 0;
    padding: 0
}

h1,
h2,
p,
.grid-layout,
.main-intro,
.game-board {
    font-family: 'rancho', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: .3rem;
}

h2,
h3 {
    font-size: 2.5rem;
    letter-spacing: .25rem;
}

p {
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.hidden {
    display: none!important;
  }

/* ~~~~~~~~~~ grid components ~~~~~~~~~~ */

.grid-layout {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr 1.4fr 1.4fr 1.4fr;
    grid-template-areas:
        "user1 main-intro main-intro main-intro user2"
        "user1 game-board game-board game-board user2"
        "user1 game-board game-board game-board user2"
        "user1 game-board game-board game-board user2"
}

.main-intro {
    /* background-image: linear-gradient(#FFBBBB, #A9F1DF); */
    /* background-image: linear-gradient(#11998E,#38EF7D); */
    background-color: white;
    padding-top: 3em;
    grid-area: main-intro;
}

/* ~~~~~~~~~ Tic Tac Toe Board ~~~~~~~~~ */

.game-board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    /* row-gap: 4px;
    column-gap: 4px; */
    grid-template-areas:
        "t1a t2a t3a"
        "t1b t2b t3b"
        "t1c t2c t3c";
    background-color: white;
    /* background-image: linear-gradient(#A9F1DF, #FFBBBB); */
    /* background-image: linear-gradient(#38EF7D, #11998E); */
    grid-area: game-board;
}

.cell-area {
    width: 110px;
    height: 110px;
    /* background-image: linear-gradient(#38EF7D, #11998E); */
    /* background: url(assets/Rock-Background.png) no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    border: 3px solid white; */
    border: 2px solid #333333;
    background-color: white;
   
}

#t1a,
#t1b,
#t1c,
#t2a,
#t2b,
#t2c,
#t3a,
#t3b,
#t3c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

#t1a,
#t2a,
#t3a {
    border-top: none;
}

#t1a,
#t1b,
#t1c {
    border-left: none;
}

#t1c,
#t2c,
#t3c {
    border-bottom: none;
}

#t3a,
#t3b,
#t3c {
    border-right: none;
}

#t1a {
    grid-area: t1a;
}

#t1b {
    grid-area: t1b;
}

#t1c {
    grid-area: t1c;
}

#t2a {
    grid-area: t2a;
}

#t2b {
    grid-area: t2b;
}

#t2c {
    grid-area: t2c;
}

#t3a {
    grid-area: t3a;
}

#t3b {
    grid-area: t3b;
}

#t3c {
    grid-area: t3c;
}

#user1 {
    /* background-image: linear-gradient(45deg, #2E3192, #1BFFFF); */
    background-image: linear-gradient(45deg, #C7004C, #FFAAAA);
    grid-area: user1;
}

#user2 {
    background-image: linear-gradient(135deg, #1BFFFF, #2E3192);
    grid-area: user2;
}

/* ~~~~~~~~~~ media queries ~~~~~~~~~~ */

@media only screen and (max-width: 550px) {
    h2,
    h3,
    p {
        font-size: 1.5rem;
        letter-spacing: .2rem;
    } 

    img {
        display: none;
      }

    .grid-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 3fr 1fr 1fr .5fr;
        grid-template-areas:
        "main-intro"
        "game-board"
        "user1"
        "user2";
    }
}